<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tax Filing Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="logo-div">
                <h1 class="logo">{{app_name}}</h1>
                <hr>                
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
                    <li><a href="#">File Taxes</a></li>
                    <li><a href="#">View Past Returns</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </nav>

            <div class="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </header>

        <main>
            <section>
                <div class="container">
                    <h2>Welcome to {{app_name}} the Tax Filing Assistant.</h2>
                    <p>File your taxes with our easy-to-use tax filing system. Easily and securely.</p>
                    <p>To begin, enter your tax information below:</p>

                </div>

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="flashes">
                    {% for category, message in messages %}
                    <div class="flash flash-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}

                <div class="container">
                    <form id="taxFrom" action="{{ url_for('create') }}" method="POST">

                        <!-- income -->
                        <div class="form-group">
                            <label for="income">Income: <span class=" ">*</span>
                                <span class="tooltip mobile">(?)
                                    <span class="tooltip-text">Your overall income in USD</span>
                                </span>
                            </label>
                            <input type="text" id="income" name="income" value="{{ form_data['income'] if form_data else '' }}" >
                            <span class="tooltip desktop">(?)
                                <span class="tooltip-text">Your overall income in USD</span>
                            </span>
                        </div>

                        <!-- expenses -->
                        <div class="form-group">
                            <label for="expenses">Expenses: <span class=" ">*</span>
                                <span class="tooltip mobile">(?)
                                    <span class="tooltip-text">Your overall expenses in USD</span>
                                </span>
                            </label>
                            <input type="text" id="expenses" name="expenses" value="{{ form_data['expenses'] if form_data else '' }}" >
                            <span class="tooltip desktop">(?)
                                <span class="tooltip-text">Your overall expenses in USD</span>
                            </span>
                        </div>

                        <!-- Filing status -->
                        <div class="form-group">
                            <label for="filing-status">Filing Status <span class=" ">*</span>
                                <span class="tooltip mobile">(?)
                                    <span class="tooltip-text">Choose your marital status for tax filing.</span>
                                </span>
                            </label>
                            <select id="filing-status" name="filing-status"  >
                                <option value="" {{ 'selected' if not form_data }}>Select Filing Status</option>
                                <option value="single" {{ 'selected' if form_data and form_data['filing_status'] == 'single'}} >Single</option>
                                <option value="married-jointly" {{ 'selected' if form_data and form_data['filing_status'] == 'married-jointly' }}>Married Filing Jointly</option>
                                <option value="married-separately" {{ 'selected' if form_data and form_data['filing_status'] == 'married-separately' }}>Married Filing Separately</option>
                                <option value="widower" {{ 'selected' if form_data and form_data['filing_status'] == 'widower' }}>Qualifying Widow(er)</option>
                            </select>
                            <span class="tooltip desktop">(?)
                                <span class="tooltip-text">Choose your marital status for tax filing.</span>
                            </span>
                        </div>

                        <!-- Dependents -->
                        <div class="form-group">
                            <label for="dependents">Number of dependents: <span class=" ">*</span>
                                <span class="tooltip mobile">(?)
                                    <span class="tooltip-text">Such as children or other dependents who may qualify for tax benefits.</span>
                                </span>
                            </label>
                            <input type="number" id="dependents" name="dependents" min="0" value="{{ form_data['dependents'] if form_data else '' }}" >
                            <span class="tooltip desktop">(?)
                                <span class="tooltip-text">Such as children or other dependents who may qualify for tax benefits.</span>
                            </span>
                        </div>
                        
                        <!-- investment assets -->
                        <div class="form-group">
                            <label for="investment-assets">Investment and Asset Information
                                <span class="tooltip mobile">(?)
                                    <span class="tooltip-text">Details about investments and assets held by the taxpayer, including stocks, bonds, mutual funds, real estate properties, and any other investments.</span>
                                </span>
                            </label>
                                <textarea id="investment-assets" name="investment-assets" rows="2"> {{ form_data['investment_assets'] if form_data else '' }} </textarea>
                                <span class="tooltip desktop">(?)
                                    <span class="tooltip-text">Details about investments and assets held by the taxpayer, including stocks, bonds, mutual funds, real estate properties, and any other investments.</span>
                                </span>
                         </div>

                        <button type="submit">Submit</button>

                        <div id="loading" class="hidden">
                            <p>Please wait, your AI Advice is being generated...</p>
                        </div>

                    </form>
                </div>
                    
            </section>

            <!-- Section to display AI advice -->
            <section id="advice-section" class="{% if not advice %}hidden{% endif %}">
                <div class="container">
                    <!-- {% if advice %} -->
                    <div id="advice" class="advice container gradient-border border">
                        <div class="advice-inner">
                            <h2>Your Tax Advice</h2>
                            <p>{{ advice|safe }}</p>
                        </div>
                    </div>
                    <!-- {% else %} -->
                    <!-- {% endif %} -->
                </div>
            </section>

        </main>

        <footer>
            <div class="container">
                <p>&copy; 2024 {{app_name}}. All rights reserved.</p>
            </div>
        </footer>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
