header {
  background: linear-gradient(172deg, rgb(0 0 0) 49%, rgb(0 28 1) 53%, #07a20a 65%, #0dbed9 90%);
  padding: 20px 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.logo {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: var(--light-text);
  padding: 5px;
  font-family: var(--heading-font);
  font-style: italic;
  text-shadow: 0px 0px 12px rgb(134, 250, 169);
}

.logo-div {
  width: 30%;
  min-width: 200px;
  max-width: 300px;
}

.hamburger-menu {
  display: none;
  margin: 1em;
  padding: 1em;
}

nav {
  margin-top: 10px;
  flex-grow: 1;
}

nav ul {
  list-style: none;
  padding: 15px 15px 10px 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: var(--light-text);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: var(--accent-color);
  color: black;
}

nav ul li .active {
  background-color: var(--primary-color);
}
