@media (max-width: 768px) {
  header {
    padding: 0;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    font-size: 1.5rem;
  }

  section {
    padding: 20px 0;
    margin: 10px 0;
  }

  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 95%;
    margin: 0;
  }

  button[type="submit"] {
    width: 100%;
  }

  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .bar {
    width: 25px;
    height: 3px;
    background: black;
    margin: 5px 0;
  }

  .advice-inner {
    padding: 0 3px;
  }
}
